@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Tilt+Prism&display=swap');

.delay-2 {
  animation-delay: 2s;
}



@layer base {
  :root {
    --primary-accent: 215 227 252;
    --secondary-accent: 248 137 27;
    --background-primary: 250 250 250;
    --heroColor: rgb(241, 201, 0);
  }
}


body {
  height: 100vh;
  width: 100vw;
}

.menuAfter>li:hover {
  scale: 1.1;
  color: rgb(var(--secondary-accent));

  /* margin: auto 2rem; */
}

.menuAfter>li {
  position: relative;
  transition: color 300ms, scale 300ms;
  transform-origin: center;
  color: #6d6a6a;
}

.menuAfter>li::after {
  position: absolute;
  content: '';
  width: 100%;
  scale: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgb(var(--secondary-accent));
  transition: scale 300ms;
  transform-origin: center;
}

.menuAfter>li:hover::after {
  scale: 1;
}


body {
  height: 100vh;
  width: 100vw;
}

.heroImage {
  float: right;
  border-radius: 30% 70% 60% 30% / 45% 39% 71% 55%;
  shape-outside: circle(183px at center center);
  margin-left: 2rem;
  z-index: 2;
  box-shadow: rgba(228, 224, 224, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.heroTitle {
  text-transform: capitalize;
  line-height: 90%;
  font-weight: 800;
  font-size: clamp(4rem, calc(4rem + 2vw), 7rem);
  z-index: 3;

}

.heroParagraph {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 3;
  text-align: center;
  color: #4d4b4b;
  font-size: clamp(1.5rem, calc(1.5rem + 1vw), 3rem);
}

.buttonHero {
  font-size: 1.5rem;
  margin: 1rem;
  margin-top: 2rem;
  background-color: rgb(var(--secondary-accent));
  padding: .5rem 1.4rem;
  white-space: nowrap;
  color: white;
  border-radius: 1.7rem;
  transition: background-color 200ms;
}

.buttonHero:hover,
.buttonHero:focus,
.buttonHero:active {
  background-color: rgb(var(--secondary-accent)/.9);
}

.textToAnimate {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: max-content;
  height: max-content;
  z-index: 1;
}

.textToAnimate::after {
  content: "";
  height: 100%;
  width: 100%;
  left: -100%;
  position: absolute;
  z-index: -1;
  animation: textAnimation 6s infinite ease-in-out;
  animation-delay: inherit;
}

@keyframes textAnimation {

  0%,
  90% {
    left: -100%;
  }

  100% {
    left: 100%;
  }

}

.highlight {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.highlight>div {
  display: grid;
  position: relative;
  height: max-content;
  margin: 1rem;
  min-width: 20rem;
  max-width: 24rem;
  padding: .9rem;
}

.highlight>div>div:first-child::after {
  content: "";
  position: absolute;
  height: 7rem;
  width: 7rem;
  top: 1%;
  left: 4%;
  /* inset: 0; */
  transition: all 300ms;
  background-color: rgb(var(--primary-accent));
  z-index: -1;
}

.high1::after {
  border-radius: 30% 70% 70% 30% / 30% 48% 52% 70%;
}

.high2::after {
  border-radius: 78% 22% 27% 73% / 71% 48% 52% 29%;
}

.high4::after {
  border-radius: 69% 31% 70% 30% / 30% 44% 56% 70%;
}

.high4parent {
  max-width: 30rem !important;
  margin: 1rem !important;
}

.highlight>div:hover>div:first-child::after,
.highlight>div:active>div:first-child::after,
.highlight>div:focus>div:first-child::after {
  height: unset;
  width: unset;
  inset: 0;
  color: red;
  border-radius: .4rem;
}

.highlight>div>:first-child {
  /* background-color: yellow; */
  /* float: left; */
  margin: 1rem;
  height: 4rem;
  width: 4rem;
}

.customersReview {
  z-index: -11;
  font-size: clamp(1rem, 1rem + 3vw, 5rem);
}

.customersReview::after,
.customersReview::before {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: .4;
}

.customersReview::after {
  content: "😀";
  font-size: 5rem;
  top: 40%;
  right: 0;
}

.customersReview::before {
  content: "😍";
  font-size: 7rem;
  bottom: 15%;
  left: -10%;
}

.customerReviewDiv {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.customerReviewDiv>div {
  position: relative;
  min-width: 17rem;
  max-width: 24rem;
  padding: .5rem;
  z-index: 1;
  overflow: hidden;
  border-radius: .3rem;
  transition: scale 300ms;
  --color2: rgba(226, 99, 226, 0.589);
  --color1: rgba(0, 128, 0, 0.603);
  --color3: rgba(131, 14, 233, 0.611);
}

.customerReviewDiv>div:hover,
.customerReviewDiv>div:active,
.customerReviewDiv>div:focus {
  scale: 1;
}

/* .customerReviewDiv>div:nth-child(1) {
  border: 2px solid var(--color1);
}

.customerReviewDiv>div:nth-child(2) {
  border: 2px solid var(--color2);
}

.customerReviewDiv>div:nth-child(3) {
  border: 2px solid var(--color3);
} */

.customerReviewDiv>div::after {
  position: absolute;
  content: "";
  height: 5rem;
  width: 5rem;
  z-index: -1;
  bottom: 85%;
  left: 90%;
  border-radius: 50%;
  transition: transform 300ms;

}

.customerReviewDiv>div:nth-child(1):after {
  background-color: var(--color1);
}

.customerReviewDiv>div:nth-child(2):after {
  background-color: var(--color2);
}

.customerReviewDiv>div:nth-child(3):after {
  background-color: var(--color3);
}

.customerReviewDiv>div:hover::after {
  transform: scale(14);
}

.customerReviewDiv>div>div>span {
  font-size: x-large;
  font-weight: 600;
}

.customerReviewDiv>div>p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  color: rgb(77, 75, 75);
  font-size: large;

}

.customerReviewDiv>div>button {
  text-decoration: underline;
  transition: color 200ms;
}

.customerReviewDiv>div>button:hover,
.customerReviewDiv>div>button:active,
.customerReviewDiv>div>button:focus {
  color: rgb(var(--primary-accent));
}

.artistsReview>div {
  display: flex;
  flex-wrap: wrap;
}

.artistsReview>h1 {
  font-size: clamp(2rem, 2rem + 3vw, 5rem);
  font-weight: 700;
  text-align: center;
}

.artistsReview>div>div {
  margin: auto;
  margin-bottom: 1rem;
  max-width: 26rem;
  min-width: 18;
}

.artistsReview>div>div>p {
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
  font-weight: 500;
  color: gray;
}

.artistsReview>div>div>span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: clamp(2rem, 1rem + 1vw, 2rem);
  text-transform: capitalize;
  color: rgb(var(--secondary-accent)/.9);

}

.artitsReviewImage {
  width: calc(2vw + 9rem);
  height: calc(2vw + 9rem);
}

.aboutSmall>h5 {
  font-size: clamp(2rem, 2rem + 1vw, 5rem);
}

.aboutSmall>p {
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
}

.topPicksHolder {
  color: rgb(var(--secondary-accent));

}

.productCard {
  width: calc(20rem + 2vw);
  max-width: 36rem;
  min-width: 20rem;
  height: calc(29rem + 2vw);
  max-height: 40rem;
  min-height: 29rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.productCard:hover>div:first-child {
  scale: 1.03;
}


/* CSS */
.button-77 {
  background-clip: padding-box;
  color: #fff;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  font-weight: 800;
  justify-content: center;
  margin: 0;
  min-height: 1.5rem;
  outline: none;
  overflow: visible;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}


.newsLetterEmail:required:invalid:not(:placeholder-shown) {
  border-color: crimson;
}